<template>
    <header class="header">
        <h1>My awesome webpage</h1>
    </header>
</template>

<script>
export default {
    name:"Header"
}
</script>

<style scoped>
    .header{
        background: #fff;
        color: black;
        text-align: center;
        padding: 10px;
        opacity: 100%;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
        box-shadow: 0 0 20px rgba(0,0,0,.15);
    }
    h1 {
        font-size: 300%; 
    }
</style>