<template>
    <div>
        <h1>Add Comment</h1>
        <form @submit="addComment">
            <input type="text" v-model="commentAuthor" name="commentAuthor" placeholder="Author">
            <input type="text" v-model="commentEmail" name="commentEmail" placeholder="E-mail"><br>
            <input type="text" id="comment" v-model="commentBody" name="commentBody" placeholder="Your comment">
            <input type="submit" value="Add" class="btn">
        </form>
    </div>
</template>

<script>
export default {
    name:"AddComment",
    data() {
        return {
            commentAuthor:'',
            commentBody:'',
            commentEmail:''
        }
    },
    methods:{
        addComment(e){
            e.preventDefault();
            const newComment = {
                "author":this.commentAuthor,
                "email":this.commentEmail,
                "body":this.commentBody
            }
            this.commentAuthor='';
            this.commentBody='';
            this.commentEmail='';
            this.$emit('add-comment', newComment);
        }
    }
    
}
</script>

<style scoped>
    label{
        margin-right: 10px;
    }
    form{
        position: center;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        opacity: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: center;        
    }

    input[type="text"] {
        flex: 1;
        padding: 10px;
        margin-right: 3px;
        margin-left: 3px;
        margin-bottom: 5px;
        margin-top: 5px;
        background:lightgray;
        color: black;
        border-radius: 5px;
        border: 1px white solid;
    }
    ::placeholder{
        color: grey;
    }
    input[type="text"]:hover{
        background: white;
        border-color: indianred;
    }
    input[type="submit"]{
        flex: 2;
    }
    #comment{
        flex: 1 1 600px;
    }
    h1{
        margin-left: 15px;
        font-weight: lighter;
    }
</style>