<template>
    <div class="comment-item" v-on:click='copyComment'>
        <p>{{comment.author}}</p>
        <p>{{comment.body}}</p>
        <p>{{comment.timestamp}}</p>
    </div>
</template>

<script>

export default {
    name:"CommentItem",
    props: ["comment"],
    methods:{
        copyComment() {
            this.$clipboard(this.comment.body);
            alert("Copied to clipboard");
        }
    }
}
</script>

<style scoped>
    .comment-item .parent {
        display: flex;
        align-content: center;
        grid-template-columns: column;
    }
    .comment-item {
        background: lightGrey ;
        padding: 10px;
        border: 1px gray solid;
        border-radius: 10px;
        opacity: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 80%;
        overflow-wrap: break-word;
    }
    .comment-item:hover {
       background: gray ; 
    }
    p { margin:0 }
</style>