<template>
    <div>
        <div v-for="comment in comments" :key = comment.id>
            <comment-item v-bind:comment="comment"/>
        </div>
    </div>
    
</template>

<script>
import CommentItem from "./CommentItem.vue";

export default {
    name:"Comments",
    components: {
        CommentItem
    },
    props:["comments"]
}
</script>

<style scoped>

</style>