<template>
  <div id="app">
    <Header />
    <MainSection />
    <RecordTable v-bind:records="records"/>
    <div id="comments">
      <AddComment v-on:add-comment="addComment"/>
      <Comments v-bind:comments="comments"/>
    </div>
  </div>
</template>

<script>
const axios = require("axios");
import Comments from "./components/Comments";
import Header from "./components/layouts/Header"
import AddComment from "./components/AddComment"
import MainSection from "./components/MainSection"
import backgroundUrl from './assets/background_image.jpg'
import RecordTable from './components/RecordTable'

export default {
  name: 'App',
  components: {
    Comments,
    Header,
    AddComment,
    MainSection,
    RecordTable
  },
  data(){
    return{
      comments:[],
      records:[],
      backgroundUrl //not used
    }
  },
  methods: {
    addComment(newComment){
      var vm = this;
      console.log(newComment)
      fetch('http://localhost:3000/comments', {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(newComment)
      }).then(response => {
        return response.json();
      }).then(data => {
          vm.comments.push(data.comment)
      }).catch(err => console.log(err));
    }
  },
  created() {
      axios.get("http://localhost:3000/comments") //for tests
        .then(res => {
          this.comments = res.data.comments;
        })
        .catch(err => console.log(err))
      axios.get("http://localhost:3000/spendings") //for tests
        .then(res => {
          this.records = res.data.spendings;
          //console.log(this.records)
        })
        .catch(err => console.log(err))
    }
}
</script>

<style>

html, body{
  height: 100%;
}
body { 
			
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: white;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.btn {
  padding: 10px;
  border: 1px white solid;
  background: indianred;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.btn:hover{
  background: rgb(43, 218, 130);
}
#comments{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 1px lightgray solid;
}
.RecordTable{
  width:75%;
}
</style>
